/* Général */
body {
    font-family: 'Arial', sans-serif;
    background-color: #111;
    color: #ddd;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Reset des marges et paddings par défaut pour une meilleure homogénéité */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Menu Burger */
.burger-menu {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1100;
    color: #f0ad4e;
    font-size: 2.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.burger-menu.hidden {
    display: none;
}

.burger-menu:hover {
    transform: scale(1.1);
}

/* Menu Latéral */
.side-menu {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 80%;
    max-width: 300px;
    background-color: rgba(34, 34, 34, 0.98);
    color: #ddd;
    z-index: 1500;
    transition: left 0.4s ease;
    padding: 60px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Bouton pour Fermer le Menu */
.close-menu {
    background: none;
    border: none;
    color: #f0ad4e;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.close-menu:hover {
    color: #d98c1a;
}

/* Contenu du Menu Latéral */
.side-menu ul {
    list-style: none;
    padding-left: 0;
    text-align: left;
}

.side-menu ul li {
    margin: 20px 0;
}

.side-menu ul li a {
    color: #ddd;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.side-menu ul li a:hover {
    color: #f0ad4e;
}

/* Liens Réseaux Sociaux */
.social-links {
    position: fixed;
    bottom: 2rem;
    left: 1rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.social-links a {
    color: #ddd;
    font-size: 2rem;
    margin-bottom: 1rem;
    transition: color 0.3s, transform 0.3s ease;
}

.social-links a:hover {
    color: #f0ad4e;
    transform: scale(1.2);
}

/* Section Bannière */
#banner {
    position: relative;
    background-color: #111;
    padding: 3rem 1rem;
    text-align: center;
    background-image: linear-gradient(to bottom right, #222, #111);
}

#banner .banner-text {
    margin-bottom: 2rem;
}

#banner h1 .highlight {
    color: #f0ad4e;
    font-weight: bold;
}

#banner button {
    background-color: #f0ad4e;
    border: none;
    color: black;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
}

#banner button:hover {
    background-color: #d98c1a;
    transform: translateY(-3px);
}

#banner .banner-image img {
    border: 8px solid rgba(187, 186, 185, 0.932);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 1rem;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7);
}

/* Section À propos */
#about {
    padding: 3rem 1rem;
    text-align: center;
    background-color: #222;
    border-radius: 15px;
    margin: 2rem 0;
}

#about img {
    width: 120px;
    margin-bottom: 1.5rem;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

#about p {
    margin-bottom: 1rem;
}

/* Section Compétences */
#skills {
    padding: 3rem 1rem;
    background-color: #333;
    color: #ddd;
    border-radius: 15px;
    margin-bottom: 2rem;
}

#skills h2 {
    color: #f0ad4e;
    margin-bottom: 2rem;
}

.skills-content {
    display: block;
    gap: 1rem;
}

.skills-item {
    background-color: #444;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 1.5rem;
    text-align: left;
}

.skills-item h3 {
    color: #f0ad4e;
    margin-bottom: 1rem;
}

.skill {
    margin-bottom: 1rem;
}

.skill p {
    margin: 0;
    font-weight: bold;
}

.progress {
    height: 15px;
    background-color: #555;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    background-color: #f0ad4e;
    line-height: 15px;
    color: black;
    text-align: center;
    font-weight: bold;
    transition: width 1s ease;
}

/* Apparition progressive */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in, transform 1s ease-in;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Section Projets */
#projects {
    padding: 3rem 1rem;
    background-color: #222;
    border-radius: 15px;
    margin-bottom: 2rem;
}

#projects h2 {
    color: #f0ad4e;
    margin-bottom: 2rem;
}

/* Section Expériences */
#experience {
    padding: 3rem 1rem;
    background-color: #333;
    border-radius: 15px;
    margin-bottom: 2rem;
}

#experience h2 {
    color: #f0ad4e;
    margin-bottom: 2rem;
}

/* Section Contact */
#contact {
    padding: 3rem 1rem;
}

#contact a {
    color: #f0ad4e;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #222;
    color: #fff;
    padding: 1.5rem 0;
    margin-top: 30px;
}

/* Responsivité pour les écrans plus larges */
@media (min-width: 768px) {
    #banner {
        padding: 4rem 4rem;
        text-align: left;
    }

    #banner .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #banner .banner-text {
        max-width: 50%;
    }

    #banner .banner-image img {
        width: 250px;
        height: 250px;
    }

    #about {
        padding: 4rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #about img {
        width: 150px;
    }

    #about div {
        max-width: 60%;
        text-align: left;
    }

    .skills-content {
        display: flex;
        flex-wrap: wrap;
    }

    .skills-item {
        flex: 0 0 calc(50% - 1rem);
        margin-right: 1rem;
    }

    .skills-item:nth-child(2n) {
        margin-right: 0;
    }

    .side-menu {
        width: 300px;
    }
}
